@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Custom CSS */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    /* Hide scrollbars */



    background-image: url('../images/blob-scene-haikei.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Set your desired fixed width */

    margin: 0
}

.container-new {
    padding-bottom: 300px;
}

::selection {
    color: blue;
    background: yellow;
}


.navbar {
    /* background-color: #343a40; */

    /* gradient code for navbar */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 64, 1) 0%, rgba(0, 26, 87, 1) 28%, rgba(0, 35, 95, 1) 29%, rgba(0, 125, 176, 1) 76%, rgba(0, 169, 216, 1) 91%, rgba(0, 212, 255, 1) 100%);

    color: #fff;
    /* padding: 10px 20px; */
    padding-bottom: 20px;
    padding: 2px;


}

.navbar-nav {
    display: flex;
    align-items: center;
    right: 50%;
}

.nav-item {
    font-size: 1.2rem;
    /* dsdsdsd */
    display: inline-block;
    white-space: nowrap;
    /* Prevent wrapping text*/
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: #349cb6; */
    color: #ccc;
    position: relative;
    top: 37px;
    left: 50px;
    /* remove underline */
    text-decoration: none;
}

.nav-item {
    text-decoration: none;
    list-style-type: none;
    /* This removes the bullets */



    display: inline-block;
    margin-right: 15px;
    /* Adjust spacing between items */
}




form.search-form::after {
    content: "";
    clear: both;
    display: table;
}


.navbar-text {
    position: relative;
    right: 100px;
}

.nav-link:hover {
    background-color: #003975;
    border-radius: 5px;
}

.nav-link.active {
    /* background-color: #00162e; */
    /* color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 2px; */


    border-bottom: 2px solid rgb(255, 255, 255);
    /* Adjust the border properties as needed */
    padding-bottom: 2px;
    font-weight: bold;

}

.navbar-nav.navigate {
    margin-left: 86%;
    position: relative;
    bottom: 10px;
}

.search-form {
    position: relative;
    left: 60%;
    margin-top: 20px;
}


.searchfield {
    width: 190px;
    box-sizing: border-box;
    border: 2px solid #ccc !important;
    /* border-radius: 4px; */
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24" height="24"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    font-family: 'Quicksand', sans-serif !important;
}



.searchfield:focus {
    width: 35%;
}

/* .searchfield::-webkit-search-cancel-button {
    display: none;
} */



.success-notif {
    padding: 10px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    border: 1px solid transparent;
    border-radius: .25rem;


    /* spacing of the notification */
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    width: fit-content;
    display: none;
    /* initially hide it */



    /* center the notification horizontally using auto margins */
    width: fit-content;
    margin: 0 auto;


}



.unadjustable {
    resize: none;
    /* Disable textarea resizing */
}

.char-count {
    float: right;
    font-style: italic;
    font-size: small;
    color: gray;
}

.list-group-item {
    background: linear-gradient(to right, #b3e0ff, #6699ff);
    border: none;
    margin-right: 30px;
    /* Adjust the right margin as needed */
    padding-bottom: 40px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 20px;
    list-style-type: none;
    /* This removes the bullets */

    overflow: hidden;
    word-wrap: break-word;

    width: 40%;
    float: left;
}

.list-group {
    background-color: #ffffff;
}





.card-main {
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    width: 40%;
    float: left;
    position: relative;
    left: 70px;
    /* bg color of card */
    background-color: white;

    /* background-image: radial-gradient(circle at 13% 47%, rgba(0, 136, 164, 0.03) 0%, rgba(0, 136, 164, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(0, 225, 255, 0.03) 0%, rgba(0, 225, 255, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(5, 253, 255, 0.03) 0%, rgba(5, 253, 255, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(55, 119, 255, 0.03) 0%, rgba(55, 119, 255, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)); */


    /* border style */
    border: 2px solid;
    border-radius: 10px;
    border-image: linear-gradient(to right,
            rgb(13, 6, 150),
            #16d8f1);
    border-image-slice: 1;





}



.nav-link {
    color: #fff;
    margin-left: 20px;
    font-size: 1.2rem;
    text-align: right;

    text-decoration: none;
    /* Remove underline from links */


    padding: 10px
}

.main-panel {
    /* main-panel holds the two card of index */
    margin: auto;
    width: 95%;
    padding: 20px;
    margin-right: 50px;
}

/* this row is the background container */
.edit-panel {
    width: 100%;
    padding-bottom: 40%;
}


.col-card {
    padding-bottom: 20px;
    /* Adjust as needed */
}

.card {
    margin-bottom: 68px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: right;
    /* width: 50%; */
    margin-right: 30px;
    /* /minus */

    width: calc(50% - 25px);
    /* Adjust the width of the card */

    background-color: rgb(255, 255, 255);
    /* bg color of card */

    box-shadow: 0px 10px 15px -4px rgba(0, 0, 0, 0.1);


    /* border style */
    border: 2px solid;
    border-radius: 10px !important;
    border-image: linear-gradient(to right, #16d8f1, rgb(13, 6, 150));
    border-image-slice: 1;




    /* Set the default height */
    /* overflow: auto; */
    overflow: visible;

}


.card-header {


    background-image: radial-gradient(circle at 13% 47%, rgba(0, 136, 164, 0.03) 0%, rgba(0, 136, 164, 0.03) 25%, transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, rgba(0, 225, 255, 0.03) 0%, rgba(0, 225, 255, 0.03) 16%, transparent 16%, transparent 100%), radial-gradient(circle at 81% 56%, rgba(5, 253, 255, 0.03) 0%, rgba(5, 253, 255, 0.03) 12%, transparent 12%, transparent 100%), radial-gradient(circle at 26% 48%, rgba(60, 60, 60, 0.03) 0%, rgba(60, 60, 60, 0.03) 6%, transparent 6%, transparent 100%), radial-gradient(circle at 97% 17%, rgba(55, 119, 255, 0.03) 0%, rgba(55, 119, 255, 0.03) 56%, transparent 56%, transparent 100%), radial-gradient(circle at 50% 100%, rgba(25, 25, 25, 0.03) 0%, rgba(25, 25, 25, 0.03) 36%, transparent 36%, transparent 100%), radial-gradient(circle at 55% 52%, rgba(69, 69, 69, 0.03) 0%, rgba(69, 69, 69, 0.03) 6%, transparent 6%, transparent 100%), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    color: #1b2b38;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    border-bottom: none;
    font-weight: bold;


}


.header-name {
    margin-left: 15px;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: bold;
}

.card-body {
    padding: 20px;


}



.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 16px;
    padding-bottom: 20px;
}



.form-group textarea.form-control {
    font-size: 16px;
    color: #333;
    /* Change the text color for the textarea */
    /* Add any additional styling you want for the textarea here */
    padding-bottom: 75px;
}

.btn {
    border: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 10px;

}



.btn-drop {
    color: black;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 6px;
    /* set eliipsis size */

    /* padding: 10px; */
    /* Hide by default */

}



.btn-icons,
.btn-drop {
    background-color: transparent;
    border: none;
    font-weight: bold;

}

/* .edit-text {
    margin-left: 5px;
} */

.edit-btn i {
    margin-right: 5px;
    /* Adjust this value to increase or decrease the spacing */
}

.btn-icons {
    font-size: 20px;
    /* style for icons star and archive and ellipse */
}

#btn-delete {
    color: red;
}

.btn-secondary {
    background-color: #6c757d;
}

.buttons-grp,
.buttons2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}

.btn-cancelled {
    margin-left: 10px;
    text-decoration: none;
    font-size: 13px !important;
}

input[type="text"],
textarea.form-control {
    border-top: gray;
    border-left: none;
    border-right: none;
}

.buttons2 .a {
    text-decoration: none;
}


.edit-card {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.submit-btn {
    margin-left: 10px;
    background-color: #0b7dda;

}

.btn-update {
    background-color: #0b7dda;
}

.clear-btn {
    background-color: #6c757d;
}

.submit-btn:hover,
.btn-update:hover {
    background-color: #0b61a7;
}

/* .view-all:hover {
    text-decoration: underline;
} */

.list-group-item {
    border: none;
}

.float-right,
.dropdown {
    float: right;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    margin-right: 20px;
}

.star-archive {
    float: right;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.fa-star,
.fa-archive {
    /* adjust spacing two icons */
    margin-right: -20px;

}

.btn-group {
    margin-right: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.note-content {
    max-height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-muted {
    color: #6c757d;

}

.text-info {
    color: #1f8999;
}

#note-datetime {
    /* Your styles here */
    /* margin-left: 5%; */
}

.innernotes {
    margin-left: 4%;
    margin-right: 4%;
}

/* Apply to all textarea elements */
input:focus,
textarea:focus {
    outline: none;
}

/* Define CSS styles for solid star icon */
.fas.fa-star {
    color: gold;
    /* Change the color to gold for the solid star */
}

.far.fa-star {
    color: rgb(73, 73, 73);
    /* Change this to the desired color */
}

.fa-archive,
.btn-archive {
    color: black;
}


/* modal content popup-code */
/* default */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */



}


.modal-content h2 {
    text-transform: uppercase !important;

}

/* old modal css */
.modal-content {
    /* background-color: #fefefe;
    margin: 15% auto; */
    /* 15% from the top and centered */
    /* padding: 20px;
    border: 1px solid #888;
    width: 50%; */
    /* Could be more or less, depending on screen size */
}

.modal-content {
    background: linear-gradient(to right, #b3e0ff, #6699ff);
    background-color: #ecf6ff;
    border: none;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    width: 30%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



    overflow: hidden;
    word-wrap: break-word;
}

.close {
    color: #3b3b3b;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this CSS for transition effect */
.modal {
    opacity: 0;
    /* Initially hide the modal */
    transition: opacity 0.3s ease;
    /* Add transition effect */
}

.modal.show {
    opacity: 1;
    /* Show the modal with transition */
}


/* ///////////////////////// */
/* Style for dropdown toggle buttons */
a:-webkit-any-link {
    text-decoration: none !important;
    /* Remove underline */
}

.ellipsis {
    font-weight: bold;
}

.dropdown,
.fa-circle,
.btn-dropdown-toggle {
    background-color: none !important;
    cursor: pointer;
}



/* Style for dropdown menus */
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 7px;

    /* element stays on one line */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Arial, sans-serif;


}

/* Style for dropdown menu items */
.dropdown-menu button {
    display: block;
    width: 100%;
    color: #333;
    padding: 8px 12px;

    text-align: left;
    border: none;
    background-color: transparent;
    /* hover size in padding */
    padding-right: 100%;
    font-size: 14px;
    cursor: pointer;

    /* set spacing per menu on bottom */
    padding-bottom: 10px;

}

/* Style for dropdown menu items on hover */
.dropdown-menu button:hover {
    background-color: #f2f2f2;

}

/* Style for dropdown menu items on active */
.dropdown-menu button:active {
    background-color: #e2e2e2;
}

.swal-confirm-button {
    background-color: #3085d6;
    /* SweetAlert confirm button color */
    color: #fff;
    /* White text color */
    border: 1px solid #3085d6;
    /* SweetAlert confirm button border */
    border-radius: 4px;
    /* SweetAlert confirm button border radius */
    padding: 7px 15px;
    /* SweetAlert confirm button padding */
    margin-right: 5px;
    /* SweetAlert confirm button margin */
}

.swal-cancel-button {
    background-color: #aaa;
    /* SweetAlert cancel button color */
    color: #fff;
    /* White text color */
    border: 1px solid #aaa;
    /* SweetAlert cancel button border */
    border-radius: 4px;
    /* SweetAlert cancel button border radius */
    padding: 7px 15px;
    /* SweetAlert cancel button padding */
    margin-left: 5px;
    /* SweetAlert cancel button margin */
}

/* Footer */
footer {
    /* background-color: #007bff; */
    /* gradient code for navbar */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 64, 1) 0%, rgba(0, 26, 87, 1) 28%, rgba(0, 35, 95, 1) 29%, rgba(0, 125, 176, 1) 76%, rgba(0, 169, 216, 1) 91%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    text-align: center;
    padding: 2px 0;

    /* if you want to fix position */
    position: fixed;
    bottom: 0;
    width: 100%;
}